<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Skydash Admin</title>
  <!-- plugins:css -->
  <link rel="stylesheet" href="vendors/feather/feather.css">
  <link rel="stylesheet" href="vendors/ti-icons/css/themify-icons.css">
  <link rel="stylesheet" href="vendors/css/vendor.bundle.base.css">
  <!-- endinject -->
  <!-- Plugin css for this page -->
  <link rel="stylesheet" href="vendors/datatables.net-bs4/dataTables.bootstrap4.css">
  <link rel="stylesheet" href="vendors/ti-icons/css/themify-icons.css">
  <link rel="stylesheet" type="text/css" href="js/select.dataTables.min.css">
  <!-- End plugin css for this page -->
  <!-- inject:css -->
  <link rel="stylesheet" href="css/vertical-layout-light/style.css">
  <!-- endinject -->
    <link rel="shortcut icon" href="images/favicon.png" />
</head>
<body>
  <div class="container-scroller">
    <!-- partial:partials/_navbar.html -->
 <%-include('../partials/_navbar')%>
    <!-- partial -->
    <div class="container-fluid page-body-wrapper">
      <!-- partial:partials/_settings-panel.html -->
      <%-include('../partials/_settings-panel')%>
      <!-- partial -->
      <!-- partial:partials/_sidebar.html -->
     <%-include('../partials/_sidebar')%>
      <!-- partial -->
      <div class="main-panel">
        <div class="content-wrapper">
          <div class="col-12 grid-margin stretch-card">
            <div class="card">
              <div class="card-body">
                <h4 class="card-title">Add Subject</h4>
                <p class="card-description">
                  Subject Details Info
                </p>
                <form class="forms-sample " method="POST" action="edit">
                  <div class="form-group ">
                    <label class="col-sm-3 col-form-label">Department</label>
                    <div class="col-sm-9 col-lg-12">
                      <select name="dept" class="form-control" required>
                        <option value="<%=data.sub %>"  selected><%=data.sub%> </option>
                     
                        <%for (let x in sub) {%>
                          <option value="<%=sub[x].id%>"><%=sub[x].name%></option>
                          <%}%> 
                       
                      
                      </select>
                    </div>
                  </div>
                  <div>
                    <input type="hidden" class="form-control" name="olddept" id="olddept"value="<%=data.sub%>" required>
                  </div>
                  <div class="form-group">
                    <label class="col-sm-3  col-form-label">Year</label>
                        <div class="col-sm-9 col-lg-12">
                          <select name="year" class="form-control" required>
                            <option value="<%=data.year%>"><%=data.year%> </option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            
                          </select>
                        </div>
                  </div>
                  <div>
                    <input type="hidden" class="form-control" name="oldyear" id="oldyear"value="<%=data.year %>" required>
                  </div>

                  <div class="form-group">
                    <label for="Subject-Name">subject icon</label>
                    <input type="text" class="form-control" name="iconlink" id="icon link" placeholder="Enter the icon link" value="<%= data.Img %> " required/>
                  </div>
                  <div class="form-group">
                    <label for="Subject-Name">Subject Name</label>
                    <input type="text" class="form-control" name="subname" id="subname" value="<%=data.Title%>" placeholder="Enter subject name" required/>
                  </div>
                  <div class="form-group">
                    <label for="Subject-code">Subject Code</label>
                    <input type="text" class="form-control" name="subcode" style="text-transform:uppercase" value ="<%=data.id%>"id="subcode" placeholder="Enter Subject code" required/>
                  </div>
                  <div>
                    <input type="hidden" class="form-control" name="oldsubcode" id="oldsubcode"value="<%=data.id %>" required>
                  </div>
                  
                  
                  <button type="submit"  class="btn btn-primary mr-2">Save Changes</button>
                  <button class="btn btn-light">Cancel</button>
                </form>
              </div>
            </div>
          </div>
          
        

        </div>
        <!-- content-wrapper ends -->
        <!-- partial:partials/_footer.html -->
       <%-include('../partials/_footer')%>
        <!-- partial -->
      </div>
      <!-- main-panel ends -->
    </div>
    <!-- page-body-wrapper ends -->
  </div>
  <!-- container-scroller -->

  <!-- plugins:js -->
  <script src="vendors/js/vendor.bundle.base.js"></script>
  <!-- endinject -->
  <!-- Plugin js for this page -->
  <script src="vendors/chart.js/Chart.min.js"></script>
  <script src="vendors/datatables.net/jquery.dataTables.js"></script>
  <script src="vendors/datatables.net-bs4/dataTables.bootstrap4.js"></script>
  <script src="js/dataTables.select.min.js"></script>

  <!-- End plugin js for this page -->
  <!-- inject:js -->
  <script src="js/off-canvas.js"></script>
  <script src="js/hoverable-collapse.js"></script>
  <script src="js/template.js"></script>
  <script src="js/settings.js"></script>
  <script src="js/todolist.js"></script>
  <!-- endinject -->
  <script src="js/searchgoogle.js"></script>
  <!-- Custom js for this page-->
  <script src="js/dashboard.js"></script>
  <script src="js/Chart.roundedBarCharts.js"></script>
  <!-- End custom js for this page-->
</body>

</html>

